
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.loginpage-container{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    /*background: -webkit-linear-gradient(left, #a445b2, #fa4299);*/
    background: -webkit-linear-gradient(left, #3c1053, #ad5389, #3c1053);  
    /*background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: url(../assets/i25.jpg);

}
.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.4);
}

.wrapper .title-text{
    display: flex;
    width: 200%;
}

.wrapper .title-text .title{

    width: 100%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    /*transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;

}


.form-container .slide-controls{
    position: relative;
    display: flex;
    z-index: 1;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 30px 0 10x 0;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.slide-controls .slide{
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slide-controls .signup{
    color: #000;
}

.slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /*background: -webkit-linear-gradient(left, #a445b2, #fa4299);*/
    /*background: -webkit-linear-gradient(left, #3c1053, #ad5389, #3c1053);*/
    background: -webkit-linear-gradient(right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */


    
}

input[type="radio"]{
    display: none;
}

#signup:checked ~ .slide-tab{
    left: 50%;
}

#signup:checked ~ .signup{
    color: #fff;
}

#signup:checked ~ .login{
    color: #000;
}

.form-container .form-inner{
    display: flex;
    width: 200%;

}

.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 5px;
    font-size: 17px;
    border-radius:5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.form-inner form .field input:focus{
    /*border-color: #fc83bb;*/
    border-color: #ad5389;
}

.form-inner form .pass-link{
    margin-top: 10px;
    align-content: center;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a{
    /*color: #fa4299;*/
    color: #ad5389;
    color:#1d0e72;
    text-decoration: none;
}

.form-inner form .signup-link{
    text-align: center;
    margin-top: 15px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
    align-content: center;
}

form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    /*background: -webkit-linear-gradient(left, #a445b2, #fa4299);*/
    background: -webkit-linear-gradient(left, #3c1053, #ad5389, #3c1053);
    background: -webkit-linear-gradient(right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    cursor: pointer;
}
