#product1 {
  text-align: center;
}

#product1 .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.section-p1 {
  margin-top: 2rem;
}

.section-p1 p {
  margin-top: auto;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .desc {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .desc span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 16px;
}

#product1 .pro .desc i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .desc h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
  /* color: orangered; */
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
