#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    
  }
  
  #cart table img{
    width: 70px;;
  }
  
  #cart table td:nth-child(1){
    width: 100px;
    text-align: center;
  }
  
  #cart table td:nth-child(2){
    width: 150px;
    text-align: center;
  }
  
  #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
  }
  
  #cart table td:nth-child(4),
  #cart table td:nth-child(5),
  #cart table td:nth-child(6),
  #cart table td:nth-child(7){
    width: 150px;
    text-align: center;
  }
  
  #cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
  }
  
  #cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
  }
  
  #cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 0;
  }
  
  #cart table tbody tr td{
    padding-top:20px;
  }
  
  #cart table tbody td{
    font-size: 14px;
  }
  
  #cart table tbody td a{
    color: red;
  }
  
  #checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #coupon,
  #subtotal{
    width: 50%;
    margin-bottom: 30px;
  }
  
  #coupon h3, 
  #subtotal h3{
    padding: 10px;
    padding-bottom: 15px;
  }
  
  #coupon input{
    padding: 7px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  #coupon .normal-button,
  #subtotal .normal-button{
    transition: 350ms ease;
    background-color: #088178;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  #coupon .normal-button:hover,
  #subtotal .normal-button:hover{
    background-color: orangered;
    
  }
  
  #subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
  }
  
  #subtotal table{
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  #subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
  
  }