@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-lore: orangered;

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vw;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display:block;
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}



h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-lore);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.4rem;
    margin-top: 1.8rem;
}


aside .logo img{
    width: 3rem;
    height: 3rem;
}

aside .close{
    display: close;
}

aside .sidebar{
    
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-lore);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-lore);
}

aside .sidebar a.active span{
    color: var(--color-lore);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover{
    color: var(--color-lore);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}


aside .sidebar .message-count{
    background: var(--color-danger);
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: var(--border-radius-1);
}

aside .close{
    display: none;
}

/*----------------------MAIN--------------------------*/
main{
    margin-top: 0.8rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights >  div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: var(--color-lore);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div .store span{
    background: var(--color-danger);
}

main .insights > div .pending span{
    background: var(--color-danger);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content:space-between;

}

main .insights h3{
    font-size: 1rem;
    margin: 1rem 0 0.6rem;
}

main .insights .progress{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}


main .insights svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    translate: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 150;
}

main .insights .store_no svg circle{
    stroke-dashoffset: 10;
    stroke-dasharray: 80;
}

main .insights small{
    margin-top: 1.3rem;
    display: block;
}

/*====================Recent Orders===================*/
main .recent-orders{
    margin-top: 2rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody tr:first-child td{
    height: 2.8rem;
    border-top: 1px solid var(--color-dark);
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border:none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*================ RIGHT COLOUMN=====================*/

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*============= RECENT UPDATE =================*/
.right .recent-updates{
    margin-top: 1rem;
}

.right .recent-updates h3{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*====================END OF RECENT UPDATES==================*/

.right .add-btn{
    margin-top: 4rem;
}

.right .add-btn .item_add-store{
    background: transparent;
    margin-bottom: 3rem;
    border: 2px dashed var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .add-btn .item_add-store:hover{
    background: var(--color-warning);
    transition: all 300ms ease;
}

.right .add-btn .item_add-store div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .add-btn .item_add-store span{
    transition: transform .3s ease;  
}

.right .add-btn .item_add-store span:hover{
    transform:rotate(180deg);
}

.right .add-btn .item_add-store div h3{
    font-weight: 600;
}

/*======================= Product page buttons =============================*/
/*======================= btn1: Add a product || btn2: Add a store ==================*/
.right .add-btn{
    margin-top: 4rem;
}

.right .add-btn .test-btn1{
    background: transparent;
    margin-bottom: 3rem;
    border: 2px dashed var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .add-btn .test-btn1:hover{
    background: var(--color-warning);
    transition: all 300ms ease;
}

.right .add-btn .test-btn1 div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .add-btn .test-btn1 span{
    transition: transform .3s ease;  
}

.right .add-btn .test-btn1 span:hover{
    transform:rotate(180deg);
}

.right .add-btn .test-btn1 div h3{
    font-weight: 600;
}


.right .add-btn .test-btn2{
    background: transparent;
    margin-bottom: 3rem;
    border: 2px dashed var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .add-btn .test-btn2:hover{
    background: var(--color-warning);
    transition: all 300ms ease;
}

.right .add-btn .test-btn2 div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .add-btn .test-btn2 span{
    transition: transform .3s ease;  
}

.right .add-btn .test-btn2 span:hover{
    transform:rotate(180deg);
}

.right .add-btn .test-btn2 div h3{
    font-weight: 600;
}

/*=============== POPUP PRODUCT ADD===================*/
.popup1{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25); /*For showing the popup at absolute center of the view*/
    width: 380px;
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup1.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup1 .close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--color-danger);
    color: var(--color-dark-variant);
    cursor: pointer;
    border-radius: 15px;
    line-height: 9px;
}

.popup1 .close-btn span{
    transition: transform 350ms ease;
}

.popup1 .close-btn span:hover{
    color: var(--color-dark);
    transform: rotate(180deg);
}

.popup1 .product-form h3{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 26px;
}

.popup1 .product-form .product-form-element{
    margin: 10px 10px;
}

.popup1 .product-form .product-form-element label{
    font-size: 12px;
    color: var(--color-dark-variant);
    
}

.popup1 .product-form .product-form-element input[type="text"],
.popup1 .product-form .product-form-element input[type="number"]{
    margin-top: 1px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--color-info-dark);
    border-radius: var(--border-radius-3);

} 

.popup1 .product-form .product-form-element input:focus[type="text"],
.popup1 .product-form .product-form-element input:focus[type="number"]{
    border-color: #ad5389;
}

/* ======================= DROP DOWN FOR SIZE AND AVAILABILITY======================*/
.popup1 .product-form .product-form-element select{
    background: transparent;
    margin-top: 1px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--color-info-dark);
    border-radius: var(--border-radius-3);
}

.popup1 .product-form .product-form-element select:focus{
    border-color: #ad5389;
}
/*======================= END OF DROP DOWN FOR SIZE AND AVAILABILITY======================*/

.popup1 .product-form .product-form-element input[type="submit"]{
    margin-top: 1rem;
    width: 50%;
    height:30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border-radius: var(--border-radius-2);
    transition: all 0.4s ease;
    background: -webkit-linear-gradient(left, #3c1053, #ad5389, #3c1053);
    cursor: pointer;
}


/*====================== Store POPUP =====================================*/

.popup2{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25); /*For showing the popup at absolute center of the view*/
    width: 380px;
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup2.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup2 .close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--color-danger);
    color: var(--color-dark-variant);
    cursor: pointer;
    border-radius: 15px;
    line-height: 9px;
}

.popup2 .close-btn span{
    transition: transform 350ms ease;
}

.popup2 .close-btn span:hover{
    color: var(--color-dark);
    transform: rotate(180deg);
}

.popup2 .store-form h3{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 26px;
}

.popup2 .store-form .store-form-element{
    margin: 10px 10px;
}

.popup2 .store-form .store-form-element label{
    font-size: 12px;
    color: var(--color-dark-variant);
    
}

.popup2 .store-form .store-form-element input[type="text"],
.popup2 .store-form .store-form-element input[type="number"]{
    margin-top: 1px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--color-info-dark);
    border-radius: var(--border-radius-3);

} 

.popup2 .store-form .store-form-element input:focus[type="text"],
.popup2 .store-form .store-form-element input:focus[type="number"]{
    border-color: #ad5389;
}

.popup2 .store-form .store-form-element input[type="submit"]{
    margin-top: 1rem;
    width: 50%;
    height:30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border-radius: var(--border-radius-2);
    transition: all 0.4s ease;
    background: -webkit-linear-gradient(left, #3c1053, #ad5389, #3c1053);
    cursor: pointer;
}

/*================ MEDIA QUERIES ======================*/
@media screen and (max-width:1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo img{
        display: none;
    }

    aside .close{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table{
        width: 60vw;
        margin-left: 0.1rem;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display:none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display:none;
    }

    main .recent-orders a{
        align-items: center;
    }
}

/*================ MEDIA QUERIES for Mobile ======================*/
@media screen and (max-width: 768px){

    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
        
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .logo img{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position:absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }

}