@import url("http://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nova Flat");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

/* Header */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky !important;
  top: 0;
  left: 0;
}

#header .logo img{
  height: 70px;
  align-items:flex-start;
  object-fit: cover;
  display: none;
}

#header .logo{
  display: flex;
  cursor: pointer;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbar .link {
  list-style: none;
  padding: 0 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar .link:hover,
#navbar .link .active {
  color: orangered;
  cursor: pointer;
}

#navbar .link .active::after,
#navbar .link:hover::after {
  content: "";
  width: 6%;
  height: 2px;
  background: orangered;
  position: absolute;
  bottom: -4px;
  left: 20px;
}